@import "tailwindcss";
:root {
    --background-color: #0a192f;
    --primary-color: #64ffda;
    --secondary-color: #8892b0;
    --text-color: #ccd6f6;
    --accent-color: #112240;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--background-color);
}